/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@import "slideover.styles";
@import "markdown.styles";

@import url('https://rsms.me/inter/inter.css');
* {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  * {
    font-family: 'Inter var', sans-serif;
  }
}

.r-profile-image:hover {
  filter: blur(1px);
}
