.markdown-truncate {
  --lh: 1.4rem;
  --max-lines: 3;
  line-height: var(--lh);
  max-height: calc(var(--lh) * var(--max-lines));

  width: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}