.my-node-enter {
  opacity: 0;
  background-color: green;
}
.my-node-enter-active {
  opacity: 1;
  transition: ease-in-out 500ms;
  background-color: black;
  display: block;
}

.my-node-enter-done {
  opacity: 1;
  transition: ease-in-out 500ms;
  background-color: black;
  display: block;
}

.my-node-exit {
  opacity: 1;
  background-color: #0077b5;
  display: block;
}
.my-node-exit-active {
  opacity: 0;
  transition: ease-in-out 500ms;
  background-color: orange;
  display: block;
}

.my-node {

}

.my-node-exit-done {
  display: none;
}
